<div class="row">
  <div class="col text-center">
    <img src="assets/img/{{ intentos }}.png" class="ahorcado-img">

    <h3>Intentos <small> {{ intentos }} / 9 </small></h3>
  </div>
</div>


<div class="row">
  <div class="col text-center">
    
    <h1> {{ palabraOculta }} </h1>

  </div>
</div>

<div class="row" *ngIf="gano">
  <div class="col text-center">
    
    <h1 class="mb-3"> Felicidades GANASTE!!! </h1>
    <img src="assets/img/e.png" class="ganaste-img">

  </div>
</div>

<div class="row" *ngIf="perdio">
  <div class="col text-center">
    
    <h1> Lo siento perdiste :( </h1>
    <img src="assets/img/e2.png" class="ganaste-img">
    <h4> La palabra era {{ palabra }}</h4>
    

  </div>
</div>


<div class="row mb-5"  *ngIf="!gano && !perdio">
  <div class="col text-center">
    
    <!-- {{ }} esto se llama interpolacion y sirve para insertar codigo js  -->

    <button (click)="comprobar(letra)" *ngFor= "let letra of letras"  class="btn btn-primary letras">{{ letra }}</button>


  </div>
</div>


<div class="row mt-5" *ngIf="gano || perdio">
    
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Escriba la nueva palabra" #palabraNueva oninput="this.value = this.value.toUpperCase()">
    <button (click)="reiniciarJuego(palabraNueva.value)" class="btn btn-outline-secondary" type="button">Reiniciar</button>
  </div>


</div>